.profile__main-info {
  max-width: 337px;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  box-sizing: border-box;
}

@media screen and (max-width: 748px) {
  .pprofile__main-info {
    text-align: center;
    width: calc(100% - 38px);
    padding-left: auto;
    padding-right: auto;
  }
}

@media screen and (max-width: 320px) {
  .profile__main-info {
    margin-left: 28px;
  }
}