.popup__text {
  max-width: 358px;
  min-height: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 0 13px 0;
  margin-right: 0;
  margin-left: 0;
}

.popup__text:nth-child(1) {
  margin-top: 0;
  margin-bottom: 0;
}

.popup__text:nth-child(2) {
  margin-top: 26px;
  margin-bottom: 48px;
}

@media screen and (max-width: 320px) {
  .popup__text {
    max-width: 238px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  .popup__text:nth-child(1) {
    margin-top: 75px;
  }
}

@media screen and (max-width: 320px) {
  .popup__text:nth-child(2) {
    margin-bottom: 45px;
  }
}
